<template>
  <v-container v-if="story" fluid pa-0>
    <v-layout row wrap>
      <v-img :src="story.content.bannerImage || story.content.FeaturedImage" class="a_hero" height="500px" width="100%" cover>
        <div class="fill-height hero-gradient">
          <v-container fill-height>
            <v-layout row wrap fill-height align-end justify-start>
              <v-flex xs12 :class="story.content.cta ? 'md8': 'md12'">
                <h1 class="a_heading_3">
                  {{ story.name }}
                </h1>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </v-img>
      <v-container grid-list-xl>
        <v-layout row wrap>
          <v-flex xs12 class="a_body" pr-3 :class="story.content.cta_sidebar ? 'md8': 'md12'">
            <div class="post_content">
              <component
                :is="item.type === 'blok' ? item.attrs.body.component : item.type"
                v-for="(item, index) in story.content.body.content"
                :key="index"
                :blok="item.type === 'blok' ? item.attrs.body.story : item"
              />
            </div>
            <RelatedPosts
              v-if="relatedstories"
              :stories="relatedstories"
            />
          </v-flex>
          <v-flex v-if="story.content.cta_sidebar" xs12 md4 pl-4>
            <sidebar v-if="story.content.cta_sidebar" :cta="story.content.cta_sidebar" />
          </v-flex>
        </v-layout>
      </v-container>
      <cta :uuid="story.content.cta_bottom" />
    </v-layout>
  </v-container>
</template>
<script>
/* eslint-disable vue/no-v-html */
import sidebar from '@/components/organisms/SideBar'
import cta from '@/components/organisms/CTA'
import RelatedPosts from '@/components/organisms/RelatedPosts'

export default {
  components: {
    sidebar,
    cta,
    RelatedPosts
  },
  props: ['blok'],
  data: () => ({
    story: {
      content: {
        seo: {
          title: 'test'
        }
      }
    },
    cta: {},
    stories: [],
    relatedstories: []
  }),
  async asyncData(context) {
    const version = context.query._storyblok || context.isDev ? 'draft' : 'published'

    const overview = await context.app.$storyapi.get('cdn/stories' + context.route.path, {
      version: version
    }).then((res) => {
      return res.data.story
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(error)
    })

    const stories = await context.app.$storyapi.get('cdn/stories', {
      version: version,
      starts_with: 'blog'
    }).then((res) => {
      return res.data.stories
    })

    const related = stories.filter((one) => {
      return one.content.category === overview.content.category
    })
    return {
      story: overview,
      stories: stories,
      relatedstories: related
    }
  },
  head() {
    return {
      title: this.story.content.seo.title,
      meta: [
        { hid: 'description', name: 'description', content: this.story.content.seo.description },
        { hid: 'og:description', name: 'og:description', content: this.story.content.seo.og_description }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.m_page_header{
  background-color: #323941;
  height: 476px;
  margin-bottom: -150px;
  padding-bottom: 200px;
}
.hero-gradient{
  background-image: radial-gradient(circle, rgba(50,57,65,0) 0%, rgba(50,57,65,1) 100%);
}
</style>
<style lang="scss">
</style>
