<template>
  <v-container fluid ma-0 pa-0>
    <v-layout row wrap justify-center>
      <v-container fluid class="m_page_header">
        <v-layout align-end justify-center row fill-height>
          <v-flex xs12>
            <h1 class="white--text text-xs-center">
              Blog Posts
            </h1>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container>
        <v-layout row wrap justify-center>
          <blog-posts :stories="stories" />
          <v-flex xs12 md4 px-3>
            <Button slug="/blog">
              View More Posts
            </Button>
          </v-flex>
        </v-layout>
      </v-container>
      <cta v-if="story.content.cta_bottom" :uuid="story.content.cta_bottom" />
    </v-layout>
  </v-container>
</template>
<script>
import BlogPosts from '@/components/organisms/BlogPosts'
import Button from '@/components/atoms/Button'
import cta from '@/components/organisms/CTA'

export default {
  components: {
    BlogPosts,
    Button,
    cta
  },
  // eslint-disable-next-line vue/require-prop-types
  props: ['blok'],
  data: () => ({
    stories: [],
    story: {
      content: {}
    }
  }),
  async asyncData(context) {
    const version = context.query._storyblok || context.isDev ? 'draft' : 'published'

    const page = await context.app.$storyapi.get('cdn/stories/blog', {
      version: version
    }).then((res) => {
      return res.data.story
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(error)
    })

    const posts = await context.app.$storyapi.get('cdn/stories', {
      version: version,
      starts_with: 'blog'
    }).then((res) => {
      return res.data.stories
    }).catch((error) => {
      // eslint-disable-next-line no-console
      console.log(error)
    })

    return {
      stories: posts,
      story: page
    }
  }
}
</script>
<style lang="scss" scoped>
.m_page_header{
  background-color: #323941;
  height: 476px;
  margin-bottom: -150px;
  padding-bottom: 200px;
}
</style>
