<template>
  <v-card
    class="m_blog_post_card"
    flat
    tile
    hover
    :to="'/blog/' + slug"
  >
    <v-layout row wrap fill-height align-content-space-between>
      <v-flex xs12 mb-4>
        <v-img
          :src="bgImage | transformImage('347x330/filters:format(jpg):quality(85)')"
          :lazy-src="bgImage | transformImage('175x165/filters:quality(10)')"
          aspect-ratio="1.084"
        />
      </v-flex>
      <v-flex xs12>
        <h5 class="a_heading_5" d-block>
          {{ headline }}
        </h5>
      </v-flex>
      <v-flex xs12>
        <p class="a_body" d-block>
          {{ subHeadline }}
        </p>
      </v-flex>
      <v-flex xs12 class="text-xs-center read-post">
        <Button secondary inverted :slug="'/blog/' + slug" style="width: 100%">
          Read Post
        </Button>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
import Button from '@/components/atoms/Button/index.vue'
export default {
  components: {
    Button
  },
  // eslint-disable-next-line
  props: ['bgImage', 'headline', 'subHeadline', 'slug'],
  data() {
    return {
      hover: false
    }
  }
}
</script>
<style lang="scss" scoped>
.m_blog_post_card{
  padding: 16px;
  background: none;
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    padding: 4em;
  }
  .read-post{
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover{
    background: #fff;
    box-shadow: 0 40px 40px 10px rgba(0,0,0,.2);
    z-index: 2;
    .read-post{
      opacity: 1;
      visibility: visible;
    }
  }
}

</style>
