

.theme--light.application {
  background: #ffffff;
}

html {
  font-size: 10px;
}

p,
.a_body {
  color: #888888;
  font-family: 'Montserrat',Helvetica,sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2rem;

  @media only screen and (min-width: 600px) and (max-width: 959px) {
    font-size: 1.9em;
    line-height: 2.5rem;
  }
}

h1,
.a_heading_1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 4.5em;
  font-weight: 800;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.9px;

  @media screen and (max-width: 768px) {
    font-size: 4em;
    line-height: 4rem;
  }
}

h2,
.a_heading_2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

h3,
.a_heading_3 {
  color: #ffffff;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
}

h4,
.a_heading_4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 2.75rem;
  letter-spacing: 0.48px;
}

h5,
.a_heading_5 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 1em;
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    line-height: 3.4rem;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 2.3em;
  }
}

h6,
.a_heading_6 {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 2.5rem;
  text-transform: uppercase;
}


.v-btn__content {
  white-space: normal !important;
  text-transform: uppercase;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 3rem;
}

@media only screen and (min-width: 960px) {
  .container {
    max-width: 1185px;
  }
}