<template>
  <v-container fluid ma-0 pa-0>
    <v-layout row wrap>
      <v-flex
        v-for="post in post_list"
        :key="post._uid"
        d-flex
        xs12
        md4
      >
        <blog-post-card
          :bg-image="post.content.FeaturedImage"
          :headline="post.name"
          :sub-headline="post.content.description"
          :slug="post.slug"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import BlogPostCard from '@/components/molecules/BlogPostCard/index.vue'

export default {
  components: {
    BlogPostCard
  },
  // eslint-disable-next-line
  props: ['stories'],
  computed: {
    post_list() {
      return this.stories.filter(function (onestory) {
        return onestory.full_slug !== 'blog/'
      })
    }
  }
}
</script>
